#gridContainer {
    display: flex;
    flex-direction: row;
}

.newBox {
    color: white;
    background-color: green;
}

.hover {
    background: orange; 
    transition: all 0.5s ease; 
}

#newGridContainer {
    display: flex;
    flex-direction: row;
}

.squareContainer {
    display: flex;
    justify-content: center;
}

#mainSquare {
    height: 800px;
    width: 800px; 
    border: solid 2px black;  
    display: flex;
}



