/** {
    border: solid 2px green;
}*/

:root {
    --left-container-width: 250px;
    --right-container-width: 800px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

/*icon size*/

.icon {
    height: 17px;
    width: 17px;  
}

#largeAccountIcon {
    height: 28px;
    width: 28px; 
}

.main-container {
    display: flex;
    height: 700px;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 700px;
    width: var(--left-container-width);
    background-color: rgb(27, 158, 245);
    color: white;
}

.dashboard {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.home-column-container, .settings-column-container {
    margin-left: 20px;
}

.right-container {
    width: var(--right-container-width);
    background: rgb(220, 220, 220);
}

.navBar-container {
    background-color: white;
    height: 90px;
    box-shadow: 0px 8px 8px rgb(162, 162, 162);
    font-weight: bold;
}

nav {
    display: flex;
    gap: 25px;
    height: 40px; 
    margin-left: 15px;
    padding-top: 6px;
}

.searchBar {
    display: flex;
    gap: 10px;
}
/*search bar width*/
input {
    width: 250px;
    box-shadow: 0px 3px 3px rgb(162, 162, 162);
}

.navbar-top-right {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    cursor: pointer;
}

.hiThere {
    display: flex;
    gap: 25px;
    margin-left: 15px;
}

.hiThereText {
    display: flex;
    flex-direction: column;
}

.hiThereText .hiThere1  {
    font-size: 10px;
}

.hiThereText .gregSamsa {
    font-size: 18px;
}

.hiThere-buttons {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.hiThere-buttons > div > button {
    background-color: rgb(27, 158, 245);
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 10px;
    height: 20px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.inner-container {
    display: flex;
}

.inner-container-left-side {
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: column;
    padding: 10px;
}

.inner-container-left-side > h3 {
    display: flex;
    font-size: 14px;
    margin-left: 15px;
}

.inner-container-right-side {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.card-content {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#project1, #project2, #project3, #project4 {
    border-bottom: solid 2px black;
}

#project2, #project4, #project6 {
    border-left: solid 2px black;
}

.gridContainer {  
    display: grid; 
    grid-template-columns: 200px 200px;
    grid-template-rows: 140px 140px 140px; 
    gap: 20px;
    /*background-color: rgb(208, 208, 208);*/
}

.gridItem {
    background-color: rgb(255, 255, 255);
    border-radius: 2% 5% 5% 0%;
    box-shadow: -5px 0px #f6c606;
    padding: 15px;
    margin-left: 13px;
}

.gridItemHeader {
    font-size: 12px;
    font-weight: 600;
}

.gridItemContent > p {
    font-size: 11px;
    color: gray;
}

.gridItemIcons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 90px;
}

.cardIcon {
    height: 13px;
    width: 13px;
}