/** {
    border: solid 2px green;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.main-container {
    display: flex;
    height: 580px;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 580px;
    width: 35%;
    background-color: rgb(57, 176, 254);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.dashboard {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.home-column-container, .settings-column-container {
    margin-left: 20px;
}

.right-container {
    width: 65%; 
    background: rgb(220, 220, 220);
}

nav {
    display: flex;
    gap: 10px;
    height: 40px;
}

.hiThere {
    display: flex;
    gap: 25px;
}

.hiThere-buttons {
    display: flex;
    gap: 20px;
}

.hiThere-buttons > div > button {
    background-color: rgb(12, 166, 174);
    color: white;
    font-family: 'Poppins', sans sans-serif;
    border-radius: 40%;
    font-weight: bold;

}

.inner-container {
    display: flex;
}

.inner-container-left-side {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-direction: column;
}

.inner-container-left-side > h3 {
    display: flex;
    justify-content: center; 
}

.inner-container-right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.yourProjects {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 120px 120px 120px;   
    gap: 10px;
}