* {
    padding: 0px;
    margin: 0px;
    border: solid 2px red;
}

nav {
    height: 100px;
    width: 100%;
    background-color: gray;
    display: flex;
    padding: 30px;
    color: white;
    gap: 200px;
    font-size: 40px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
}

.navbar-left {
    display: flex;
}

.navbar-center {
    display: flex;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.section-1 {
    height: 1000px;
}

.question-container {
    display: flex;
    height: 500px;
    padding: 20px;
}

.questionBox-left {
    height: 300px;
    width: 300px;

}

.questionBox-right {
    height: 500px;
    width: 500px;
    background-color: rgb(191, 232, 228);

}